body {
  margin: 0;
  background: #0f0f0f;
  color: white;
  font-family: Arial;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #1a1a1a;
  padding: 10px 20px;
}

.nav-links {
  display: flex;
  gap: 20px;
}

.nav-links span {
  cursor: pointer;
  color: #bbb;
}

.nav-links span:hover {
  color: white;
}

.search {
  padding: 6px 12px;
  border-radius: 20px;
  border: none;
  background: #333;
  color: white;
}

/* 🔥 FLEX MOVIES */
.movies {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  justify-content: center;
}

/* CARD */
.card {
  width: 180px;
  cursor: pointer;
  transition: 0.3s;
}

.card:hover {
  transform: scale(1.05);
}

.card img {
  width: 100%;
  height: 270px;
  object-fit: cover;
  border-radius: 10px;
}

.card p {
  text-align: center;
  font-size: 14px;
}

/* MODAL */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.85);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  display: flex;
  gap: 20px;
  background: #1f1f1f;
  padding: 20px;
  border-radius: 10px;
  max-width: 800px;
}

.modal-content img {
  width: 250px;
  border-radius: 10px;
}